<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List-products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
          <form [formGroup]="formProducto">
            <ion-list>
              <ion-item>
                <ion-input type="text" placeholder="SKU" formControlName="sku"></ion-input>
                <ng-container *ngFor="let val of validationMessages['sku']">
                  <div class="error-message" *ngIf="formProducto.get('sku')?.hasError(val.type)&&formProducto.get('sku')?.touched">
                    {{val.message}}
                  </div>
                </ng-container>
              </ion-item>
              
              <ion-item>
                <ion-input type="text" placeholder="NAME" formControlName="name"></ion-input>
                <ng-container *ngFor="let val of validationMessages['name']">
                  <div class="error-message" *ngIf="formProducto.get('name')?.hasError(val.type)&&formProducto.get('name')?.touched">
                    {{val.message}}
                  </div>
                </ng-container>
              </ion-item>

              <ion-item>
                <ion-input type="text" placeholder="DESCRIPTION" formControlName="description"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="number" placeholder="PRICE" formControlName="price"></ion-input>
                <ng-container *ngFor="let val of validationMessages['price']">
                  <div class="error-message" *ngIf="formProducto.get('price')?.hasError(val.type)&&formProducto.get('price')?.touched">
                    {{val.message}}
                  </div>
                </ng-container>
              </ion-item>

              <ion-item>
                <ion-select interface="popover" placeholder="Choose a category" formControlName="category">
                    <ion-select-option *ngFor="let cat of categorias" [value]="cat">{{cat.idCategoryBK}}</ion-select-option>
                </ion-select>
                <ng-container *ngFor="let val of validationMessages['category']">
                  <div class="error-message" *ngIf="formProducto.get('category')?.hasError(val.type)&&formProducto.get('category')?.touched">
                    {{val.message}}
                  </div>
                </ng-container>
              </ion-item>

              <ion-item>
                <ion-input type="number" placeholder="STOCK" formControlName="stock"></ion-input>
                <ng-container *ngFor="let val of validationMessages['stock']">
                  <div class="error-message" *ngIf="formProducto.get('stock')?.hasError(val.type)&&formProducto.get('stock')?.touched">
                    {{val.message}}
                  </div>
                </ng-container>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="URL IMAGE" formControlName="photo"></ion-input>
              </ion-item>
            </ion-list>
            <ion-button color="primary" expand="full" [disabled]="!formProducto.valid" (click)="newProduct()"> 
              Add
            </ion-button>            
          </form>
  </ion-grid>
</ion-content>